<header class="layout__header">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <button type="button" tabindex="1"><i class="fa fa--bars"></i></button>
                <a href="/"><img src="logo.svg" alt="stename"></a>
            </div>
            <div class="col-xs-6 col-md-6">
                <form action="" method="post">
                    <input type="search" name="" id="">
                    <input type="submit" value="">
                </form>
            </div>
        </div>
        <!-- mobile menu -->
        <nav class="nav nav--header">
            {{menu}}
        </nav>
    </div>
</header>